$primary-color: rgb(37, 101, 195);
$primary-color-contrast: #FFFFFF;

$line-grey: rgb(100 100 100);
$text-gradient: linear-gradient(90deg, #216EE2 0%, #039FA9 100%);

$hero-background: rgba($primary-color, .1);
$hero-form-check: rgb(39, 172, 108);

$feature-background: $primary-color;