.feature {
    padding: 6rem 0;
    background-color: $feature-background;

    >header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        text-align: center;
        color: $primary-color-contrast;

        >* {
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            max-width: 700px;
        }
    }

    &__diagram {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__image {
            padding: 0 2rem;
            box-sizing: border-box;
            max-width: 70vw;
        }

        &__sides {
            max-width: 15vw;

            &:last-child {
                transform: scaleX(-1);
            }
        }
    }

    &__cards {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >div {
            text-align: center;
            color: $primary-color-contrast;
            max-width: 33.33%;
            padding: 3rem 1.5rem;
            border-radius: .5rem;

            &:hover {
                background-color: rgba($feature-icon-background, .3);
            }

            >h3 {
                font-weight: 500;
            }

            >i {
                border-radius: 1.75rem;
                padding: 1.5rem;
                font-size: 1.5rem;
                background-color: $feature-icon-background;
            }

            >h3 {
                margin-top: 1.5rem;
            }

            >p {
                font-weight: 400;
                margin-top: 1rem;
                opacity: .6;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        &__diagram {
            &__image {
                max-width: 90%;
                margin: 0 auto;
            }

            &__sides {
                display: none;
            }
        }

        &__cards {
            >div {
                max-width: 50%;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        &__cards {
            >div {
                max-width: 100%;
            }
        }
    }
}