.hero {
    padding: 12rem 0 6rem 0;
    background: $hero-background;


    &__feature {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__diagram {
        width: 50%;
        overflow: visible;

        >img {
            width: 100%;
        }
    }

    &__action {
        width: 50%;

        &__label {
            @extend .button;
            background-color: rgba($primary-color, .2);
            color: $primary-color;
            font-weight: 600;
            font-size: 1.25rem;
        }

        h1 {
            margin-top: 1.25rem;
            font-size: 3rem;
            text-transform: capitalize;
            font-weight: 500;

            >span {
                background: $text-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__input {
            display: flex;
            margin-top: 2rem;
            width: 100%;
            background: #FFF;
            padding: .3rem;
            border-radius: .3rem;

            >input {
                flex: 1;
                padding: .5rem 1rem;
                font-weight: 400;
            }
        }

        &__tags {
            display: flex;
            margin-top: 2rem;

            >span {
                font-weight: 500;
                margin-right: 1rem;

                >i {
                    border-radius: .5rem;
                    padding: .3rem;
                    background-color: rgba($hero-form-check, 0.2);
                    color: $hero-form-check;
                    margin-right: .5rem;
                }
            }
        }
    }

    >hr {
        @extend .container;
        margin: 2rem auto;
        opacity: .5;
        background-color: $line-grey;
    }

    &__logos {
        padding: 0 2rem;
        display: flex;
        justify-content: center;

        >img {
            height: 2.5rem;
            opacity: .5;
            padding: 1rem 4rem;
        }
    }

    @media only screen and (max-width: 1200px) {
        &__diagram>img {
            height: 100%;
            width: auto;
        }
    }

    @media only screen and (max-width: 900px) {
        &__diagram {
            margin-top: 6rem;

            >img {
                width: 100%;
                height: auto;
            }
        }

        &__action,
        &__diagram {
            width: 100%;
        }
    }
}