html,
input,
textarea,
button {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 700px) {

    html,
    input,
    textarea,
    button {
        font-size: 14px;
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@import 'fontawesome/fontawesome.scss';
@import 'fontawesome/regular.scss';
@import 'fontawesome/brands.scss';

@import 'normalizer.scss';
@import 'colors.scss';
@import 'button.scss';
@import 'navigation.scss';
@import 'hero.scss';
@import 'feature.scss';
@import 'footer.scss';