.navigation {
    background-color: #FFF;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 99;

    >.container {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }

    &__logo {
        height: 2rem;
    }

    &__items {
        display: flex;
        justify-self: end;

        >a {
            display: block;
            align-self: center;
            padding: .5rem 1rem;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                opacity: .6;
            }

            &:last-of-type {
                margin-right: 1rem;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        &__items {
            >a:not(.get-in-touch) {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        &__items {
            display: none;
        }
    }
}